# Created by .ignore support plugin (hsz.mobi)


# phpstorm project files
.idea/

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# tar from java jdk and tomcat
/javaweb/*.tar.gz

# windows thumbnail cache
Thumbs.db

# redis-persistence-data ( remain the dir )
!/redis/data/
/redis/data/*

# mysql-persistence-data
!/mysql/data/
/mysql/data/*
